<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868117641655-8tpi827f8lrbf2aghdm18k56hp51s6b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868117641655-8tpi827f8lrbf2aghdm18k56hp51s6b6</string>
	<key>API_KEY</key>
	<string>AIzaSyCDyzjQQ618FoNaI_dD16r9hkjj0-_lz0c</string>
	<key>GCM_SENDER_ID</key>
	<string>868117641655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laodev.lstore</string>
	<key>PROJECT_ID</key>
	<string>lstore-cb18b</string>
	<key>STORAGE_BUCKET</key>
	<string>lstore-cb18b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868117641655:ios:5f82fd2ecb29214d951032</string>
</dict>
</plist>